#Home:focus{
	background-color: rgba(255,136,15,0.3);

}
#predictorItem:focus{
	background-color: rgba(255,136,15,0.3);

}
#datasetOverviewItem:focus{
	background-color: rgba(255,136,15,0.3);

}
#statisticsItem:focus{
	background-color: rgba(255,136,15,0.3);

}
#historyItem:focus{
	background-color: rgba(255,136,15,0.3);

}
#profileItem:focus{
	background-color: rgba(255,136,15,0.3);

}
#Home:hover{
	background-color: rgba(255,136,15,0.3);

}
#datasetOverviewItem:hover{
	background-color: rgba(255,136,15,0.3);

}
#predictorItem:hover{
	background-color: rgba(255,136,15,0.3);

}
#statisticsItem:hover{
	background-color: rgba(255,136,15,0.3);

}
#historyItem:hover{
	background-color: rgba(255,136,15,0.3);

}
#profileItem:hover{
	background-color: rgba(255,136,15,0.3);

}
